form{
    width: 100%;
    margin:auto;
    padding: 30px 60px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
 
#formBodyDinamic{
    height: 100%;
} 

#formBodyDinamic > div{
    display: flex;
    gap: 10px;
    margin-bottom: 3px;
}
#formBodyDinamic > div span{
    margin-right: 6px;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    form {
      display: flex;
      flex-direction: column;
    }
  
    #formBodyDinamic input{
      display: flex;
      margin-top: 3px;
      width: 100%;
      justify-content: center;
    }
     #formBodyDinamic select{
      display: flex;
      margin-top: 1rem;
      width: 100%;
      justify-content: center;
    }
  
     #formBodyDinamic button{
      display: flex;
      margin-top: 5rem;
      width: 100%;
      justify-content: center;
    }
  }