form{
    width: 100%;
    margin:auto;
    padding: 30px 60px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
/* 
#formBodyDinamic{
    height: 100%;
} */

#formBodyDinamic > div{
    display: flex;
    gap: 10px;
    margin-bottom: 3px;
}
#formBodyDinamic > div span{
    margin-right: 6px;
    display: inline-block;
}